body {
    background-color: #352F44;
    font-family: cursive;
    color: white;
}

.container {
    width: 50%;
    margin: auto;
}

.container, div {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    font-family: cursive;
    color: blue;
    height: 6vh;
    width: 28vw;
    outline: none;
    border: none;
    padding-left: 3vh;
}
button {
    align-self: flex-end;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 10px 27px;
  }